@import url('https://fonts.googleapis.com/css2?family=Intel+One+Mono:ital,wght@0,300..700;1,300..700&display=swap');

*{
    margin: 0;
    font-family: 'Intel One Mono', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

img {
    display: none;
}
body {
    background-color: blanchedalmond;
}